<div id="dashboard">
  <div class="chat-list">
    <p>
      <%= current_user.email %>
    </p>
    <% @chat_rooms.each do |room| %>
    <div class="chat">
      <%= link_to room.name, chat_room_path(room), remote: true %>
    </div>
  <% end %>
  </div>

  <div id="chat-room">
    Met wie ga je praten?
  </div>


</div>
