function setChatRoom() {
  const chatRoom = document.getElementById('chat-room');
  chatRoom.innerHTML = "<%= j render 'chat_rooms/chat_room', chat_room: @chat_room, message: @message %>";
  scrollToLastMessage();
}

function appendChat(){
  const chatList = document.getElementById('chat-list');
  console.log(chatList)
  chatList.insertAdjacentHTML('beforeend', "<div class='chat'><a data-remote='true' href='/chat_rooms/<%= @chat_room.id %>'><%= @chat_room.name %></a></div>");
}

setChatRoom();
<% unless @subscription.errors.any? %>
  appendChat();
<% end %>

