input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

#new_message {
  position: fixed;
  bottom: 10px;
  right: 2%;
  width: calc(100% - 200px);
  #message_content {
    width: 100%;
  }
}
