#nav-list {
  background-color: rgb(40,40,40);
  width: 200px;
  color: white;
  height: 100vh;
  padding: 5px;
  overflow: scroll;
}

.channel-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  a {
    color: white;
    text-decoration: none;
    padding: 6px 2px;
  }
  a:hover {
    background-color: rgba(220,220,220, 0.9);
    cursor: pointer;
  }
}
